@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

body {
    background: #f0f0f0;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
}
.btn {
    /* margin-top: 10px; */
    height: 50px;
    width: 120px;
    border-radius: 20rem;
    background: black;
    color: white;
    border: rgba(12, 27, 64, 0.9);
    cursor: pointer;
}
.canvas {
    width: 400px;
    height: 400px;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.canvas>.center {
    position: absolute;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(79.7%, rgb(101, 148, 255)), color-stop(80%, rgba(101, 48, 255, 0)), color-stop(82%, rgba(255, 255, 255, 0)), color-stop(82.3%, rgb(65, 65, 65)));
    background: -o-linear-gradient(top right, rgb(101, 148, 255) 79.7%, rgba(101, 48, 255, 0) 80%, rgba(255, 255, 255, 0) 82%, rgb(65, 65, 65) 82.3%);
    background: linear-gradient(to bottom left, rgb(101, 148, 255) 79.7%, rgba(101, 48, 255, 0) 80%, rgba(255, 255, 255, 0) 82%, rgb(65, 65, 65) 82.3%);
    width: 350px;
    height: 350px;
    top: 50%;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    left: 50%;
    margin: -175px 0 0 -175px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

  .timerDisplay{
    position: relative;
    width: 92%;
    left: 4%;
    padding: 40px 0;
    font-family: 'Roboto mono',monospace;
    
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40rem;

}
.buttons button{
    width: 120px;
    height: 45px;
    background-color: #205e94;
    color: #ffffff;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.navigation {
    font-size: 20px;
    height: 67px;
    background: linear-gradient(45deg, #4199fe, #74b4fe);
}
.company {
    position: absolute;
    margin-left: 0;
    padding-left: 20px;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.company a, .company a:visited {
    color: #ffffff;
    text-decoration: none;
}
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
}
nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,nav ul li a:visited {
    display: block;
    
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #205e94 ;
    text-decoration: none;
}
nav ul li a{
    background: transparent;
    color: #FFF;
}
nav ul li a:hover, nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
}
.navbar-dropdown li a{
    background: #2581DC;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}
@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
   }
    nav {
        width: 100%;
        padding: 55px 0 15px;
   }
    nav ul {
        display: none;
   }
    nav ul li {
        float: none;
   }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
   }
    nav ul li ul li a {
        padding-left: 30px;
   }
    .navbar-dropdown {
        position: static;
        z-index: 99999;
    }
}
@media screen and (min-width:800px) {
    .nav-list {
        display: block !important;
   }
}
#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
    top: -10px;
}
#navbar-toggle span:after {
    bottom: -10px;
}
#navbar-toggle.active span {
    background-color: transparent;
}
#navbar-toggle.active span:before, #navbar-toggle.active span:after {
    top: 0;
}
#navbar-toggle.active span:before {
    transform: rotate(45deg);
}
#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}

